@mixin playlist-link($padding-right: 0.5rem, $padding-botton: 0.5rem, $padding-left: 0.5rem, $padding-top: 0.5rem) {
    padding: $padding-botton $padding-right $padding-botton $padding-left;
    color: $gray;
    display: flex;
    align-items: center;
    width: 100%;
    &:hover {
        color: $white
    }
}