<template>
	<div id="app-layout">		
		<spotify-nav />
		<section>
			<spotify-header />
			<main>
				<router-view></router-view>
			</main>
		</section>
		<!-- <aside>ASIDE</aside> -->
		<spotify-footer />
	</div>
</template>

<script>
import spotifyFooter from "./spotify-footer/spotifyFooter"
import spotifyHeader from "./spotify-header/spotifyHeader"
import spotifyNav from "./spotify-nav/spotifyNav"

export default {
	name: "app-layout",
	components: {
		spotifyFooter,
		spotifyHeader,
		spotifyNav
	}
}
</script>

<style lang="scss">
#app-layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: $dark-gray;

	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: 235px 1fr;
		grid-template-rows: 1fr auto;
	}

	section {
		flex: 1;
	}

	main {
		padding: 7rem 2.3rem;
	}

}
</style>
