<template>
	<footer class="spotify-footer">
		<div class="spotify-footer-left">
			<img src="https://i.scdn.co/image/ab67616d00004851d1241debb8543af8322a7d6a" />
			<div class="spotify-footer-song">
				<a href="#" class="spotify-footer-song__song">POP/STARS</a>
				<a href="#" class="spotify-footer-song__artist">K/DA</a>
			</div>
		</div>
		<div class="spotify-footer-middle">

			<div class="spotify-player-controls">
				<div class="spotify-player-controls__buttons-group">
					<button>
						<i class="fas fa-random"></i>
					</button>

					<button>
						<i class="fas fa-step-backward"></i>
					</button>

					<button class="circuled">
						<i class="fas fa-play"></i>
					</button>

					<button>
						<i class="fas fa-step-forward"></i>
					</button>

					<button>
						<i class="fas fa-redo"></i>
					</button>

				</div>
				<div class="spotify-current-track__progress">
					<div class="spotify-current-track__progress__start">0:01</div>
					<div class="spotify-current-track__progress__bar">
						<div id="song-progress" class="spotify-current-track__progress__bar__background">
							<div class="spotify-current-track__progress__bar__background__current">
							</div>
						</div>
					</div>
					<div class="spotify-current-track__progress__finish">3:07</div>
				</div>
			</div>

		</div>
		<div class="spotify-footer-right">
			options
		</div>
	</footer>
</template>

<script>
export default {
	name: "app-footer"
}
</script>

<style lang="scss" scoped>
footer {
	grid-column: span 3;
    text-align: center;
    background-color: #282828;
    color: white;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: 'Open Sans';
    padding: 16px;
    line-height: 1.6;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
	.spotify-footer-left {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		img {
			width: 56px;
			height: 56px;
			display: inline-block;
			box-shadow: 0 0 15px rgba(0, 0, 0, .5);
		}

		.spotify-footer-song {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 0 14px;
			align-items: flex-start;

			a:hover{
				text-decoration: underline;
			}
			
			&__song {
				font-size: 0.95rem;
				color: $white;
			}

			&__artist {
				font-size: 0.75rem;
				color: $gray;
				&:hover{
					color: $white;
				}
			}
		}
	}

	.spotify-footer-middle {
		display: flex;
		.spotify-player-controls{
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&__buttons-group{
				margin-bottom: 12px;
				justify-content: space-between;
				flex-flow: row nowrap;
				display: flex;
				width: 20%;
				button {
					background-color: transparent;
					border: none;
					color:$gray;
					width: 32px;
					height: 32px;
					flex: 1 0 auto;
					position: relative;
					&:hover {
						color: $white;
					}
					&:active, &:focus{
						border: none;
						outline: 0;
					}
					&.circuled {
						&:after {
							content: "";
							position: absolute;
							width: 32px;
							height: 32px;
							border-radius: 100%;
							border: 1px solid $gray;
							transform: translate(-71%, -29%);
							transition: all ease 0.08s;
						}
						&:hover {
							&:after {
								transform: translate(-69%, -30%);
								width: 36px;
								height: 36px;
							}
						}
					}
				}
			}
			.spotify-current-track {
				&__progress {
					width: 70%;
					padding: 0 30px;
					color: $gray;
					font-size: 11px;
					display: flex;
					flex-flow: row;
					justify-content: space-between;
					align-items: center;

					&__bar {
						width: 100%;
						padding: 0 15px;
						&__background {
							border: none;
							height: 4px;
							background: $gray;
							&>div {
								background: $green;
								width: 20%;
								height: 100%;
								position: relative;
								z-index: 1;	
							}
						}
					}
				}
			}
		}
	}

	.spotify-footer-right {}
}
</style>