<template>
    <header id="header" class="header" :class="[{ 'scrolled' : changeHeaderBG}]">
        <div class="header__navigation">
            <a href="#" class="active"><i class="fas fa-chevron-left"></i></a>
            <a href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="header__info">
            <button @click="subMenu = !subMenu" :style="[subMenu ? { 'background-color': 'rgba(255, 255, 255, 0.1)' } : {}]">
                <img class="header__info__photo" src="http://lorempixel.com/400/400/people/2" alt="Foto de perfil">
                <h3 class="header__info__title">Acácio Osório</h3>
                <div class="icon" :style="[subMenu ? { 'transform': 'rotate(180deg)'} : { 'transform': 'rotate(0)'}]">
                    <i class="fas fa-caret-down"></i>
                </div>
            </button>
            <ul class="header__info__menu" v-if="subMenu">
                <li><a class="" href="#">Conta</a></li>
                <li><a class="" href="#">Perfil</a></li>
                <li class="partition"><hr></li>
                <li><a class="" href="#">Sair</a></li>
            </ul>
        </div>
    </header>
</template>

<script>
export default {
    name: "app-header",
    data() {
        return {
            subMenu: false,
            scrollPosition: 0
        }
    },
    computed:{
        changeHeaderBG(){
            if(this.scrollPosition > 100) return true
            else return false
        }
    },
    methods: {
        updateScroll() {
            this.scrollPosition = window.scrollY
        }
    },
    mounted(){
        window.addEventListener('scroll', this.updateScroll);
    }
}
</script>

<style lang="scss" scoped>
    .header {
        z-index: 1;
		position: fixed;
		width: 100%;
		padding: 16px 32px;
		text-align: center;
		font-size: 1.4em;
		color: white;
		max-width: 1685px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
        flex-wrap: nowrap;
        transition: all ease 0.5s;
        &.scrolled {
            background-color: #030303
        }

		&__navigation,
		&__info button{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: nowrap;
		}
        &__navigation {
            a {
                border-radius: 100%;
                color: $white;
                opacity: 0.5;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                margin: 0 1rem 0 0;
                svg {
                    max-width: 18px;
                    max-height: 18px;
                }
                &.active{
                    opacity: 1;
                }
            }
        }
		&__info {
            position: relative;
            button {
                border: none;
                padding: 0.2rem 0.7rem 0.2rem 0;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 23px;
                color: $white;
                cursor: pointer;
                transition: all ease 0.2s;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
			&__photo {
				height: 28px;
				width: 28px;
				margin-right: 15px;
				border-radius: 50%;
			}
			&__title {
				font-weight: 400;
				letter-spacing: 0.5px;
				margin-right: 0.7rem;
            }
            &__menu{
                position: absolute;
                background-color: $dark-gray-2;
                right: 0;
                top: 130%;
                width: 125%;
                border-radius: 0.5rem;

                li {
                    display: flex;
                    font-size: 1rem;
                    padding: 0.3rem;
                    a {
                        @include playlist-link(1rem, 1rem, 1rem, 1rem);
                        border-radius: 0.2rem;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                    &.partition{
                        padding: 0.1rem 0.5rem;
                        hr {
                            margin: 0;
                            width: 100%;
                            height: 1px;
                            border-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
            }
        }

	}
</style>