<template>
<div class="box-item">
	<div class="box-item__image">
		<!-- {{playlist.images}} -->
		<img :src="playlist.images[0].url" />
		<button>
			<i class="fas fa-play"></i>
		</button>
	</div>
	<h4>{{playlist.name}}</h4>
	<p v-if="playlist.type == 'artist'">Artist</p>
	<p v-if="playlist.type == 'playlist'">De {{playlist.description}}</p>
	<p v-if="playlist.type == 'album'">
		<a v-for="(artist, index) in playlist.artists" :key="index">{{artist.name}}</a>
	</p>
</div>
</template>

<script>
export default {
	props: {
		playlist: {
			type: Object,
			default: () => {}
		}
	},
	data() {
		return {
		}
	}
}
</script>

<style lang="scss" scoped>
.box-item {
	position: relative;
	cursor: pointer;
	margin-top: 18px;
	height: 260px;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 5px;
	color: $white;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 1rem;
	transition: all ease 0.5s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
		.box-item__image {
			button {
				opacity: 1;
			}
		}
	}

	&:first-child {
		margin-left: 0;
	}

	.box-item__image {
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 150px;
		margin-bottom: 1.5rem;
		overflow: hidden;

		img {
			position: absolute;
			max-width: 100%;
		}

		button {
			transition: all ease 0.5s;
			border-radius: 500px;
			border: none;
			width: 40px;
			min-height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0.5rem;
			bottom: 0.5rem;
			color: $white;
			background-color: $green;
			opacity: 0;
		}

	}

	h4 {
		font-size: 1.1rem;
		white-space: nowrap;
		margin-bottom: 1rem;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bolder;
	}

	p {
		font-size: 1rem;
		color: $gray;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
		&:hover{
			a {
				text-decoration: underline;
			}
		}
	}

}
</style>