<template>
	<div class="playlist-strip">
		<div class="title-strip">
			<h3>{{list.name}}</h3>
			<a hred="#">{{$t(`seeAll`)}}</a>
		</div>
		<div class="inner-strip">
			<card :playlist="playlist" v-for="(playlist, index) in list.content.items" :key="index" />
		</div>
	</div>
</template>

<script>
import Card from "@/components/Card"

export default {
	name: "app-playlist",
	components: {
		Card
	},
	props: {
		list: {
			type: Object,
			default: () => []
		}
	},
	data() {
		return {

		}
	}
}
</script>

<style lang="scss" scoped>
.playlist-strip {
	width: 100%;
	margin-top: 10px;

	.title-strip {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;

		a {
			cursor: pointer;
			background-color: transparent;
			border: none;
			color: $white;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;

			&:hover {
				text-decoration: underline;
			}
		}

		h3 {
			color: $white;
			font-size: 2rem;
			font-weight: 700;
		}
	}

	.inner-strip {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
		overflow-y: hidden;
		grid-auto-rows: 0;
		grid-template-rows: 1fr;

	}
}
</style>