<template>
	<div>

		<playlist v-for="(playlist, index) in homePlaylists" :key="index" :list="playlist"/>

	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Playlist from "@/components/Playlist"

export default {
	name: 'home',
	components: {
		Playlist
	},
	data() {
		return {}
	},
	computed: {
		...mapGetters({
			homePlaylists: 'playlists/homePlaylists'
		})
	},
	methods: {
		...mapActions({
			allPlayslistAsync: 'playlists/allPlaylistsAsync'
		})
	},
	mounted(){
		this.allPlayslistAsync()
	}
}
</script>

<style lang="scss">
</style>