<template>
	<nav>
		<div>
			<a class="logo">
				<img :src="require('@/assets/images/spotify-logo-white.png')" alt="">
			</a>
			<ul id="nav-navigation">
				<li class="selected">
					<a href="#">
						<i class="fas fa-home"></i> <span>Ínicio</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-search"></i> <span>Buscar</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-bars fa-rotate-90"></i> <span>Sua Biblioteca</span>
					</a>
				</li>
			</ul>
			<h1 class="title">Playlists</h1>
			<ul id="nav-playlists-options">
				<li>
					<a href="#">
						<i class="fas fa-plus" data-fa-transform="shrink-8"></i>
						<span class="menu--item--text">Criar playlist</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fas fa-heart" data-fa-transform="shrink-8"></i>
						<span class="menu--item--text">Músicas Curtidas</span>
					</a>
				</li>
			</ul>
			<perfect-scrollbar>
				<ul id="nav-playlists-list">
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
					<li>
						<a href="#">Grunge</a>
					</li>
					<li>
						<a href="#">Sleep</a>
					</li>
				</ul>
			</perfect-scrollbar>
		</div>
	</nav>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
	nav {
		background-color: $black;
		display: flex;
		flex-direction: column;
		color:  $gray;
		& > div {
			position: fixed;
			max-width: 235px;
		}
		.logo {
			display: block;
			padding-top: 1rem;
			padding-left: 1rem;
			margin-bottom: 1.5rem;
			img {
				max-width: 55%;
			}
		}
		ul {
			padding: 0 0.7rem;
			li {
				a {
					@include playlist-link;
				}
			}
		}
		#nav-navigation {
			li {
				font-size: 1rem;
				a {
					color: $gray;
					display: flex;
					align-items: center;
					border-radius: 0.4rem;
					font-weight: 600;
					svg {
						width: 24px;
						height: 24px;
					}
					span {
						margin-left: 1rem;
					}
					&:hover {
						span {
							color: $white;
						}
					}
				}
				&.selected{
					a {
						background-color: rgba(255, 255, 255, 0.25);
						color: $white;
					}
				}
			}
		}
		h1 {
			font-size: 1rem;
			font-weight: 700;
			padding-left: 1.3rem;
			margin: 1.5rem 0 1rem;
			text-transform: uppercase;
		}
		#nav-playlists-options {
			li {
				a {
					color:  $gray;
					font-weight: bolder;
					transition: all ease 0.5s;
					svg {
						width: 32px;
						height: 32px;
						background: rgba(255, 255, 255, 0.60);
						vertical-align: middle;
						margin-right: 1rem;
						color: $black;
						opacity: 0.7;
						&.fa-heart {
							color:  $gray;
							background: linear-gradient(135deg,$blue, $gray)
						}
					}
					&:hover {
						color: $white;
						svg {
							opacity: 1;
						}
					}
				}
			}

			&:after{
				background-color: rgba(255, 255, 255, 0.25);
				content: '';
				width: 95%;
				height: 1px;
				margin: 1.3rem auto 1.5rem;
				display: block;
			}
		}
		.ps {
			height: 39vh;
			@media (min-height: 800px) {
				height: 51vh;
			}
		}
	}
</style>